html {
    font-family: Arial, Helvetica, sans-serif;
}
.secteurs {
    display: flex;
}
.secteur {
    flex: 1;
    margin: 8px;
    padding: 16px;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
    min-height: 12em;
}
.secteur .code {
    float: right;
    color: rgba(0, 0, 0, .5);
    margin: 8px;
}
.secteur h2 {
    margin-left: 1em;
    display: inline-block;
    text-shadow: 1px 1px 0 whitesmoke, -1px 1px 0 whitesmoke, -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke;
}
.secteur p, .secteur .surface, .secteur .nombreA {
    opacity: 0;
    transition: opacity .4s ease-out;
}
.secteur:hover p, .secteur:hover .surface, .secteur:hover .nombreA {
    opacity: 1;
}
.secteur img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    transition: width .4s ease-out, opacity .4s ease-out;
}
.secteur:hover img {
    width: 110%;
    opacity: .5;
}
.secteur :not(img) {
    position: relative;
    z-index: 2;
}

ul.menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
ul.menu > li {
    background-color: rgba(200,200,200,.5);
    padding: 1em;
    flex-basis: 15%;
    text-align: center;
    cursor: pointer;
    border-bottom: 4px solid black;
    transition: all .3s ease;
}
ul.menu > li:hover {
    background-color: rgba(226, 186, 111, 0.5);
    border-bottom: 4px solid orange;
}
ul.menu a {
    text-decoration: none;
    color: inherit;
}